<h2>Purchases</h2>

<p>
  Download:
  <%= link_to "CSV", admin_purchases_path(format: "csv") %>
  <%= link_to "XLS", admin_purchases_path(format: "xls") %>
</p>

<%= render 'admin/purchases/search_form' %>

<%= link_to 'Back', admin_admin_panel_index_path, class: "btn btn-secondary" %>
<br>
<br>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @purchases_searched %>
  </div>
  <%= will_paginate @purchases_searched, :container => false %>
</div>
<% @purchases_searched.each do |purchase| %>
  <table class="table  table-stripes table-bordered table-hover">
    <tr style="background-color: #D6EEEE">
      <td><strong>User email: </strong><%= purchase.user.email %></td>
      <td><strong>Purchase token: </strong><%= purchase.token %></td>
      <td><strong>Created at: </strong><%= purchase.created_at %></td>
      <td><strong>Order value: </strong><%= number_to_currency(purchase.sub_total) %></td>
    </tr>
    <tr>
      <td colspan="4"><strong>Ordered items:</strong></td>
    </tr>
    <% purchase.items.each do |purchase_item| %>
      <tr>
        <td colspan="2"><strong>Name: </strong><%= purchase_item.product.name %></td>
        <td><strong>Quantity: </strong><%= purchase_item.quantity %></td>
        <td><strong>Items price: </strong><%= number_to_currency(purchase_item.price) %></td>
      </tr>
    <% end %>
    <br>
<% end %>