<h2>Purchases</h2>

<%= render 'admin/purchases/search_form' %>

<%= link_to 'Back', admin_admin_panel_index_path, class: "btn btn-secondary" %>
<br>

<% @purchases_searched.each do |purchase| %>
  <table class="table  table-stripes table-bordered table-hover">
    <thead>
    <tr>
      <td><strong>User email: </strong><%= purchase.user.email %></td>
      <td><strong>Purchase token: </strong><%= purchase.token %></td>
      <td><strong>Order value: </strong><%= number_to_currency(purchase.sub_total) %></td>
    </tr>
    <tr>
      <td>Ordered items:</td>
    </tr>
    </thead>
    <tbody>
    <% @purchase_items.each do |purchase_item| %>
      <tr>
        <td><strong>Name: </strong><%= purchase_item.product.name %></td>
        <td><strong>Quantity: </strong><%= purchase_item.quantity %></td>
        <td><strong>Items price: </strong><%= number_to_currency(purchase_item.price) %></td>
      </tr>
    <% end %>
    </tbody>
    <br>
<% end %>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @purchases_searched %>
  </div>
  <%= will_paginate @purchases_searched, :container => false %>
</div>