<h2>Current Cart</h2>
<%= link_to "Back", root_path, class: "btn btn-secondary" %>
<br>
<br>

<table>
  <thead>
  <tr>
    <td>Product</td>
    <td>Price</td>
    <td>Quantity</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.product.name %></td>
      <td><%= number_to_currency(item.price) %></td>
      <td><%= item.quantity %></td>
      <td>
        <%= form_for item, method: :delete do |f| %>
          <%= f.submit "Remove", class: "btn btn-secondary" %>
        <% end %>
        <%#= link_to 'Remove', cart_path(item), class: "btn btn-danger", data: { turbo_method: :delete } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>