<%= render 'home/search_form' %>
<br>
<% @products_searched.each do |product| %>
  <% if product.photo.attached? %>
    <%= image_tag product.photo, width: "200px" %>
    <br>
  <% else %>
    <strong>[Photo not available]</strong>
    <br>
  <% end %>
  <strong>Name:</strong>
  <%= product.name %>
  <br>
  <strong>Description:</strong>
  <%= product.description %>
  <br>
  <strong>on Stock:</strong>
  <%= product.on_stock %>
  <br>
  <strong>Categories:</strong>
  <%= product.categories.pluck(:name).join(', ') %>
  <br>
  <% if @current_user.present? %>
    <strong>Price:</strong>
    <%= number_to_currency(product.price) %>
    <br>
    <%= form_tag purchase_items_path do %>
      <%= hidden_field_tag :product_id, product.id %>
      <%= number_field_tag :quantity, 1 %>
      <%= submit_tag "Add to Cart" %>
    <% end %>
  <% end %>
  <br>
<% end %>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @products_searched %>
  </div>
  <%= will_paginate @products_searched, :container => false %>
</div>
