<h2>Categories</h2>

<%= simple_form_for @category, as: :category, url: admin_categories_path do |f| %>

<%= render partial: 'form_fields', locals: { f: f } %>
  <br>

  <%= f.button :submit, class: "btn btn-secondary" %>
  <%= link_to 'Back', admin_admin_panel_index_path, class: "btn btn-secondary" %>
<% end %>

<br>
<% @categories.each do |category| %>
  <strong>Name:</strong>
  <%= category.name %>
  <br>
  <strong>Description:</strong>
  <%= category.description %>
  <br>
  <%= link_to 'Edit', edit_admin_category_path(category), class: "btn btn-secondary" %>
  <%= link_to 'Delete', admin_category_path(category), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
  <br>
  <br>
<% end %>