<h2>Categories</h2>

<%= simple_form_for @category, as: :category, url: admin_categories_path do |f| %>

  <%= render partial: 'form_fields', locals: { f: f } %>
  <br>

  <%= f.button :submit, class: "btn btn-secondary" %>
  <%= link_to 'Back', admin_admin_panel_index_path, class: "btn btn-secondary" %>
<% end %>
<br>
<%= render 'admin/categories/search_form' %>
<br>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @categories_searched %>
  </div>
  <%= will_paginate @categories_searched, :container => false %>
</div>
<br>
<% @categories_searched.each do |category| %>
  <table class="table  table-stripes table-bordered table-hover">
    <tr style="background-color: #D6EEEE">
      <td>
        <strong>Name:</strong>
        <%= category.name %>
      </td>
      <td align="right">
        <%= link_to 'Edit', edit_admin_category_path(category), class: "btn btn-secondary" %>
        <%= link_to 'Delete', admin_category_path(category), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <strong>Description:</strong>
        <%= category.description %>
      </td>
    </tr>
<% end %>