<%= f.text_field :name, class: "form-control", placeholder: "Name" %>
<%= f.text_area :description, size: "70x5", class: "form-control", placeholder: "Description" %>
<%= f.number_field :on_stock, class: "form-control" %>
<%= f.file_field :photo, class: "form-control" %>

<ul>
  <% Category.all.each do |category| %>
    <dt>
      <label>
        <%= check_box_tag "product[category_ids][]", category.id, f.object.categories.include?(category) %>
        <%= category.name %>
      </label>
    </dt>
  <% end %>
</ul>
