<h2>Products</h2>

<%= form_for @product, as: :product, url: admin_products_path do |f| %>

  <%= render partial: 'form_fields', locals: { f: f } %>

  <%= f.submit "Create Product", class: 'btn btn-secondary' %>
  <%= link_to 'Back', admin_admin_panel_index_path, class: "btn btn-secondary" %>
<% end %>
<br>

<% @products.each do |product| %>
  <% if product.photo.attached? %>
    <%= image_tag product.photo, width: "200px" %>
  <% end %>
  <br>
  <strong>Name:</strong>
  <%= product.name %>
  <br>
  <strong>Description:</strong>
  <%= product.description %>
  <br>
  <strong>on Stock:</strong>
  <%= product.on_stock %>
  <br>
  <strong>Categories:</strong>
  <%= product.categories.pluck(:name).join(', ') %>
  <br>
  <%= link_to 'Edit', edit_admin_product_path(product), class: "btn btn-secondary" %>
  <%= link_to 'Delete', admin_product_path(product), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <br>
  <br>
<% end %>